In [21]:
import math
import warnings

from IPython.display import display
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn import linear_model
import statsmodels.formula.api as smf

# Display preferences.
%matplotlib inline
pd.options.display.float_format = '{:.3f}'.format

# Suppress annoying harmless error.
warnings.filterwarnings(
    action="ignore",
    module="scipy",
    message="^internal gelsd"
)

In [2]:
df = pd.read_excel('/Users/joshuarkarnad/Desktop/Thinkful/Data/table_8_offenses_known_to_law_enforcement_new_york_by_city_2013.xls', skiprows = 3)
df.columns = df.iloc[0]
df.head()

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3
0,City,Population,Violent\ncrime,Murder and\nnonnegligent\nmanslaughter,Rape\n(revised\ndefinition)1,Rape\n(legacy\ndefinition)2,Robbery,Aggravated\nassault,Property\ncrime,Burglary,Larceny-\ntheft,Motor\nvehicle\ntheft,Arson3
1,Adams Village,1861,0,0,NaN,0,0,0,12,2,10,0,0
2,Addison Town and Village,2577,3,0,NaN,0,0,3,24,3,20,1,0
3,Akron Village,2846,3,0,NaN,0,0,3,16,1,15,0,0
4,Albany,97956,791,8,NaN,30,227,526,4090,705,3243,142,NaN

In [3]:
df = df.drop([0])

In [4]:
df.columns

Index(['City', 'Population', 'Violent\ncrime',
       'Murder and\nnonnegligent\nmanslaughter',
       'Rape\n(revised\ndefinition)1', 'Rape\n(legacy\ndefinition)2',
       'Robbery', 'Aggravated\nassault', 'Property\ncrime', 'Burglary',
       'Larceny-\ntheft', 'Motor\nvehicle\ntheft', 'Arson3'],
      dtype='object', name=0)

In [5]:
columns = ['city', 'population', 'violent_crime',
       'murder',
       'Rape\n(revised\ndefinition)1', 'rape',
       'robbery', 'aggravated_assault', 'property_crime', 'burglary',
       'larceny', 'motor_vehicle_theft', 'arson']

In [6]:
df.columns = columns

In [7]:
df = df.drop('Rape\n(revised\ndefinition)1', axis=1)

In [8]:
df.head()

,city,population,violent_crime,murder,rape,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,arson
1,Adams Village,1861,0,0,0,0,0,12,2,10,0,0
2,Addison Town and Village,2577,3,0,0,0,3,24,3,20,1,0
3,Akron Village,2846,3,0,0,0,3,16,1,15,0,0
4,Albany,97956,791,8,30,227,526,4090,705,3243,142,NaN
5,Albion Village,6388,23,0,3,4,16,223,53,165,5,NaN

In [17]:
df['rape_per_person'] = (df.rape / df.population)

In [18]:
df['murder_per_person'] = (df.murder / df.population)
df['robbery_per_person'] = (df.robbery / df.population)
# df.robbery_vc_percentage = (df.robbery / df.violent_crime)
# df.murder_vc_percentage = (df.murder / df.violent_crime)
# df.rape_vc_percentage = (df.rape/df.violent_crime)

In [24]:
df = df.dropna()

In [25]:
# Instantiate and fit our model.
regr = linear_model.LinearRegression()
Y = df['property_crime'].values.reshape(-1, 1)
X = df[['population','violent_crime','robbery', 'robbery_per_person']]
regr.fit(X, Y)

# Inspect the results.
print('\nCoefficients: \n', regr.coef_)
print('\nIntercept: \n', regr.intercept_)
print('\nR-squared:')
print(regr.score(X, Y))

Coefficients:
 [[  1.05103829e-02   3.42739879e+00  -2.06794146e-01  -3.39933179e+04]]

Intercept:
 [ 41.48404265]

R-squared:
0.888811757068

In [26]:
df['population2'] = (df.population)**2

In [27]:
regr = linear_model.LinearRegression()
Y = df['property_crime'].values.reshape(-1, 1)
X = df[['population','violent_crime','robbery', 'population2']]
regr.fit(X, Y)

# Inspect the results.
print('\nCoefficients: \n', regr.coef_)
print('\nIntercept: \n', regr.intercept_)
print('\nR-squared:')
print(regr.score(X, Y))

Coefficients:
 [[  2.04079134e-02   2.50895295e+00   4.37889256e+00  -1.01110950e-07]]

Intercept:
 [-53.17734141]

R-squared:
0.911161501188