In [1]:
import math
import warnings

from IPython.display import display
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn import linear_model
import statsmodels.formula.api as smf

# Display preferences.
%matplotlib inline
pd.options.display.float_format = '{:.3f}'.format

# Suppress annoying harmless error.
warnings.filterwarnings(
    action="ignore",
    module="scipy",
    message="^internal gelsd"
)

In [2]:
df = pd.read_excel('/Users/joshuarkarnad/Desktop/Thinkful/Data/table_8_offenses_known_to_law_enforcement_new_york_by_city_2013.xls', skiprows = 3)
df.columns = df.iloc[0]
df = df.drop([0])
columns = ['city', 'population', 'violent_crime',
       'murder',
       'Rape\n(revised\ndefinition)1', 'rape',
       'robbery', 'aggravated_assault', 'property_crime', 'burglary',
       'larceny', 'motor_vehicle_theft', 'arson']

df.columns = columns

In [18]:
regression_columns = ['population',
       'murder', 'rape',
       'robbery', 'aggravated_assault', 'property_crime']
ny = df[regression_columns]
ny = ny.dropna()
ny.head()

  population murder rape robbery aggravated_assault property_crime
1       1861      0    0       0                  0             12
2       2577      0    0       0                  3             24
3       2846      0    0       0                  3             16
4      97956      8   30     227                526           4090
5       6388      0    3       4                 16            223

In [19]:
nj = pd.read_excel('/Users/joshuarkarnad/Desktop/Thinkful/Data/table_8_offenses_known_to_law_enforcement_new_jersey_by_city_2013.xls', skiprows= 3)

nj.columns = nj.iloc[0]
nj = nj.drop([0])
columns = ['city', 'population', 'violent_crime',
       'murder',
       'Rape\n(revised\ndefinition)1', 'rape',
       'robbery', 'aggravated_assault', 'property_crime', 'burglary',
       'larceny', 'motor_vehicle_theft', 'arson']

nj.columns = columns

regression_columns = ['population',
       'murder', 'rape',
       'robbery', 'aggravated_assault', 'property_crime']
nj = nj[regression_columns]
nj.isnull().sum()
nj = nj.dropna()

nj.head()

  population murder rape robbery aggravated_assault property_crime
1      18150      0    0      13                  6            237
2       8380      0    2       4                 15            266
3       6712      0    0       0                  0             37
4        493      0    0       0                  0             39
5       1812      0    0       0                  3             18

In [20]:
def find_score(feature_list, dataframe_training, dataframe_testing):
    regr = linear_model.LinearRegression()
    y_train = dataframe_training['property_crime'].values.reshape(-1, 1)
    x_train = dataframe_training[feature_list]
    regr.fit(x_train, y_train)
    y_test = dataframe_testing['property_crime'].values.reshape(-1, 1)
    x_test = dataframe_testing[feature_list]
    return regr.score(x_test, y_test)

In [40]:
from itertools import combinations

In [48]:
training_features = ['population','murder','rape','robbery','aggravated_assault']
combos_4 = combinations(training_features,4)
combo_list_4 = list(combos_4)
for x in combo_list_4:
    score = find_score(list(x), ny, nj)
    print(x, score)

('population', 'murder', 'rape', 'robbery') 0.822716166661
('population', 'murder', 'rape', 'aggravated_assault') 0.798765025843
('population', 'murder', 'robbery', 'aggravated_assault') -0.14273020606
('population', 'rape', 'robbery', 'aggravated_assault') 0.84806201268
('murder', 'rape', 'robbery', 'aggravated_assault') 0.80649464429

In [42]:
combos_5 = combinations(training_features,5)
combo_list_5 = list(combos_5)
for x in combo_list_5:
    score = find_score(list(x), ny, nj)
    print(x, score)

('population', 'murder', 'rape', 'robbery', 'aggravated_assault') 0.808891666302

In [45]:
combos_3 = combinations(training_features,3)
combo_list_3 = list(combos_3)
for x in combo_list_3:
    score = find_score(list(x), ny, nj)
    print(x, score)

('population', 'murder', 'rape') 0.838625205625
('population', 'murder', 'robbery') -0.623248946414
('population', 'murder', 'aggravated_assault') -0.79666375333
('population', 'rape', 'robbery') 0.733674332164
('population', 'rape', 'aggravated_assault') 0.797556533961
('population', 'robbery', 'aggravated_assault') -1.66041664219
('murder', 'rape', 'robbery') 0.782635427904
('murder', 'rape', 'aggravated_assault') 0.802402484186
('murder', 'robbery', 'aggravated_assault') 0.255484848024
('rape', 'robbery', 'aggravated_assault') 0.814428341269